@using Ppgz.Repository
@{
    ViewBag.Title = "Mensajes Institucionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    cuenta cuenta = ViewBag.Cuenta;
}

<h2 class="form-signin-heading">Gestión de Proveedores</h2>
<p class="page-description-title"><i class="fa fa-envelope" aria-hidden="true"></i> <i>Mensajes del Grupo Nazan</i></p>

<div class="panel panel-default">
    <div class="panel-heading">Lista de Mensajes</div>
    <div class="panel-body">
        <div class="col-md-12">
            <table id="mensajes" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Leído</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (mensaje mensaje in (ViewBag.mensajes))
                    {
                        var visualizado = "NO";

                        if (mensaje.cuentasmensajes.ToList().Any(c => c.CuentaId == cuenta.Id))
                        {
                            visualizado = "SI";
                        }

                        <tr id="mensaje-tr-id-@mensaje.Id">
                            <td class="text-center vert-align">@mensaje.FechaPublicacion.ToString("dd/MM/yyyy")</td>

                            <td class="text-center vert-align"><i>@mensaje.Titulo</i></td>
                            <td class="leido-flag text-center">
                                @visualizado
                            </td>
                            <td class="text-center">

                                @if (mensaje.Archivo != null)
                                {
                                    <a href="@Url.Content(@mensaje.Archivo)" target="_blank" data-id="@mensaje.Id" class="descargar-mensaje"><i class="fa fa-download" aria-hidden="true"></i> Descargar</a>

                                }
                                else
                                {
                                    <a href="#" class="ver-mensaje" data-toggle="modal" data-target="#myModal" data-titulo="@mensaje.Titulo" data-id="@mensaje.Id" data-contenido="@mensaje.Contenido"><i class="fa fa-envelope-o" aria-hidden="true"></i> Ver</a>

                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="mensaje-titulo"></span></h4>
            </div>
            <div class="modal-body">

                <p id="mensaje-contenido"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var usuarioMensajes = "@ViewBag.mensajesUsuario";

        $(document).ready(function () {

            $(document).on("click", ".ver-mensaje", function () {
                Visualizar($(this).data('id'));
                var titulo = $(this).data('titulo');
                var contenido = $(this).data('contenido');
                $('.modal-title').text(titulo);

                $(".modal-body #mensaje-contenido").text(contenido);

            });

            $(document).on("click", ".descargar-mensaje", function () {
                Visualizar($(this).data('id'));

            });

            $('#mensajes').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });


        function Visualizar(mensajeId) {
            $.ajax({
                url: '@Url.Action("Visualizar", "MensajesInstitucionales")',
                data: { id: mensajeId },
                type: 'POST',
                success: function (data) {
                    $("#mensaje-tr-id-" + mensajeId + " .leido-flag").text("SI");
                    RefrescarMensajes();
                }
            });
        }



    </script>
}


