@using System.Globalization
@using Ppgz.Repository
@{
    ViewBag.Title = "Ordenes de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Gestión de Ordenes de Compra</h2>
<p class="page-description-title"><i class="fa fa-address-book" aria-hidden="true"></i> <i>En esta sección se podrán gestionar las órdenes de compra que tiene asociadas en su cuenta.</i></p>

<div class="panel panel-default">
    <div class="panel-heading">Ordenes de Compra</div>
    <div class="panel-body">
        <div class="col-md-12">
            <table id="ordenes" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Visualizado</th>
                        <th class="text-center">N° Orden</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">N° Proveedor</th>
                        <th class="text-center">Razón Social</th>
                        <th class="text-center">Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ordencompra ordenCompra in ViewBag.data)
                    {
                        var visualizado = "No";
                        var classTr = string.Empty;
                        if (ordenCompra.FechaVisualizado != null)
                        {
                            visualizado = ((DateTime)ordenCompra.FechaVisualizado).ToString("dd/MM/yyyy");
                            classTr = "success";
                        }

                        <tr class="@classTr">
                            <td class="text-center">
                                @visualizado
                            </td>
                            <td class="text-center vert-align">@ordenCompra.NumeroDocumento</td>
                            <td class="text-center vert-align">@DateTime.ParseExact(ordenCompra.FechaDocCompra, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")</td>
                            <td class="text-center vert-align">@ordenCompra.proveedore.NumeroProveedor</td>
                            <td class="text-center vert-align">@ordenCompra.proveedore.Nombre1 @ordenCompra.proveedore.Nombre2 @ordenCompra.proveedore.Nombre3 @ordenCompra.proveedore.Nombre4</td>

                            <td class="text-center vert-align">
                                <a href="@Url.Action("Descargar", "OrdenesCompra", new {numeroDocumento = ordenCompra.NumeroDocumento, proveedorId = ordenCompra.proveedore.Id})" class="btn btn-primary descargar-detalle"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var today = "@DateTime.Today.ToString("dd/MM/yyyy")";
            $(document).on("click", ".descargar-detalle", function () {

                var tr = $(this).parent().parent();

                var trClass = $(tr).attr("class");
                if (trClass.indexOf("success") !== -1) {
                    return;
                } else {
                    $(tr).attr("class", trClass + " success");
                    var td = $(tr).find("td")[0];
                    $(td).text(today);
                }
            });


            $('#ordenes').DataTable({
                "language": {
                    "url": "@Url.Content("~/assets/vendor/dataTables-1.10.13/Spanish.json")"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });
    </script>
}


