<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Portal de proveedores Grupo Nazan</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/assets/vendor/bootstrap-3.3.6/css/bootstrap.min.css")
    @Styles.Render("~/assets/vendor/bootstrap-3.3.6/css/bootstrap-theme.min.css")

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @Styles.Render("~/assets/vendor/bootstrap-3.3.6/css/ie10-viewport-bug-workaround.css")

    <!-- Fontawesome Core -->
    @Styles.Render("~/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css")

    <!-- Custom styles  -->
    @Styles.Render("~/assets/css/main.css")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-main navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="@Url.Content("~/assets/img/logo.png")" class="img-responsive" width="150px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right"></ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grupo Nazan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/assets/vendor/bootstrap-3.3.6/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
