@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Portal de proveedores Grupo Nazan</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/assets/vendor/bootstrap-3.3.6/css/bootstrap.min.css")
    @Styles.Render("~/assets/vendor/bootstrap-3.3.6/css/bootstrap-theme.min.css")

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @Styles.Render("~/assets/vendor/bootstrap-3.3.6/css/ie10-viewport-bug-workaround.css")

    @Styles.Render("~/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css")

    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/assets/vendor/dataTables-1.10.13/media/css/dataTables.bootstrap.min.css")

    @Styles.Render("~/assets/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")

    @Styles.Render("~/assets/css/main.css")


</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-main navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/"><img src="@Url.Content("~/assets/img/logo.png")" class="img-responsive" width="80"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (Request.IsAuthenticated && User.Identity.GetUserName() == "superadmin")
                            {
                                if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "NazanGestionProveedores")
                                {
                                    <li class="active">@Html.ActionLink("Administrar Proveedores", "Index", "NazanGestionProveedores", null, new { @class = "active" })</li>

                                }
                                else
                                {   
                                    <li class="active"><a href="@Url.Action("Index", "NazanGestionProveedores")"><i class="fa fa fa-info" aria-hidden="true"></i> Administrar Proveedores</a></li>
                     
                 
                                }
                            }
                            @if (Request.IsAuthenticated && User.Identity.GetUserName() != "superadmin")
                            {
                                if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "ProveedorAdministrarUsuarios")
                                {
                                    <li class="active"><a href="@Url.Action("Index", "ProveedorAdministrarUsuarios")"><i class="fa fa fa-users" aria-hidden="true"></i> Administrar Usuarios Proveedores</a></li>
                                }
                                else
                                {
                                    <li class=""><a href="@Url.Action("Index", "ProveedorAdministrarUsuarios")"><i class="fa fa fa-users" aria-hidden="true"></i> Administrar Usuarios Proveedores</a></li>

                                }
                            }

                            <li class=""><a href="#"><i class="fa fa-info" aria-hidden="true"></i> Gestion de Proveedores</a></li>
                            <li class=""><a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Administración de Citas</a></li>
                            <li class=""><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Administración de Mensajes Institucionales</a></li>
                        </ul>
                    </li>

                    @if (Request.IsAuthenticated && User.Identity.GetUserName() == "superadmin")
                    {
                        if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "NazanGestionProveedores")
                        {
                            <li class="active">@Html.ActionLink("Administrar Proveedores", "Index", "NazanGestionProveedores", null, new { @class = "active" })</li>

                        }

                    }
                    @if (Request.IsAuthenticated && User.Identity.GetUserName() != "superadmin")
                    {
                        if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "ProveedorAdministrarUsuarios")
                        {
                            <li class="active">
                                <a href="@Url.Action("Index", "ProveedorAdministrarUsuarios")"><i class="fa fa fa-users" aria-hidden="true"></i> Administrar Usuarios Proveedores</a>
                            </li>
                        }

                    }

                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right"></ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grupo Nazan</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/assets/vendor/bootstrap-3.3.6/js/bootstrap.min.js")
    @Scripts.Render("~/assets/vendor/dataTables-1.10.13/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/assets/vendor/dataTables-1.10.13/media/js/dataTables.bootstrap.min.js")
    @Scripts.Render("~/assets/vendor/bootstrap-confirmation.min.js")
    @Scripts.Render("~/assets/vendor/moment/moment-with-locales.min.js")
    @Scripts.Render("~/assets/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")



    <script type="text/javascript">
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            container: 'body'
        });

    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
