@using Ppgz.Repository
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estatusCita = (List<estatuscita>)ViewBag.EstatusCita;
}
<h2>Citas Registradas</h2>
<p class="page-description-title"><i class="fa fa-calendar" aria-hidden="true"></i> <i>Registro desde hace 3 meses</i></p>
<div class="panel panel-default">
    <div class="panel-heading">Lista de Citas</div>
    <div class="panel-body">
        <div class="col-md-12">
            <a class="btn btn-info btn-xs" href="#" onclick="javascript:ShowModalCrear();" title="Agregar nueva penalizacion">
                Agregar nueva penalizacion<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </a>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-bordered" id="citas">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Codigo</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Monto</th>
                                <th class="text-center" style="width: 100px">
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var estatus in estatusCita)
                            {
                                <tr>
                                    <td class="text-center vert-align">@estatus.Id</td>
                                    <td class="text-center vert-align">@estatus.Codigo</td>
                                    <td class="text-center vert-align">@estatus.Nombre</td>
                                    <td class="text-center vert-align">@estatus.Monto</td>
                                    <td class="text-center vert-align">
                                        <div class="btn-group btn-group-justified">
                                            <a class="btn btn-info btn-xs" href="#" onclick="javascript:ShowModalPenalizar(@estatus.Id, '@estatus.Codigo', '@estatus.Nombre', @estatus.Monto);" title="Editar">
                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
</div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal-penalizar" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Modificar", "PenalizacionesMenor", new { }, FormMethod.Post, new { id = "form-penalizar" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" />

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Penalizacion</h4>
                </div>
                <div id="cuerpo" class="modal-body">
                    <label>Codigo</label>
                    <input id="Codigo" name="Codigo" type="text" class="form-control" />
                    <label>Nombre</label>
                    <input id="Nombre" name="Nombre" type="text" class="form-control" />
                    <label>Monto</label>
                    <input id="Monto" name="Monto" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button type="submit" class="aplicar-enroque-button btn btn-primary">Aplicar Cambio</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="modal-crear" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Crear", "PenalizacionesMenor", new { }, FormMethod.Post, new { id = "form-crear" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nueva Penalizacion</h4>
                </div>
                <div id="cuerpo" class="modal-body">
                    <label>Codigo</label>
                    <input id="Codigo" name="Codigo" type="text" class="form-control" />
                    <label>Nombre</label>
                    <input id="Nombre" name="Nombre" type="text" class="form-control" />
                    <label>Monto</label>
                    <input id="Monto" name="Monto" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button type="submit" class="aplicar-enroque-button btn btn-primary">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function() {
            $('#citas').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });

        function ShowModalPenalizar(Id, codigo, nombre , monto) {
            $('#form-penalizar > input[name="Id"]').val(Id);
            $('#form-penalizar > #cuerpo > input[name="Codigo"]').val(codigo);
            $('#form-penalizar > #cuerpo > input[name="Monto"]').val(monto);
            $('#form-penalizar > #cuerpo > input[name="Nombre"]').val(nombre);
            $("#modal-penalizar").modal('show');
        }

        function ShowModalCrear() { 
            $("#modal-crear").modal('show');
        }

    </script>

}