@using Ppgz.Repository
@using System.Data
@using System.Globalization
@{
    var drm = (DataTable)ViewBag.Res;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/assets/vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
<div>
    <h2>
        Ingreso de muestras a cedis

    </h2>
    <p class="page-description-title">
        <i class="fa fa-info" aria-hidden="true"></i> <i>Escanea la muestra para registrar el ingreso de la muestra a  cedis</i>
    </p>
</div>
<br />
<div class="clearfix"></div>
@using (Html.BeginForm("IngresarMuestras", "ReporteMuestras", new { }, FormMethod.Post, new { id = "form-crear" }))
{

    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">Escanea el codigo de barras de la etiqueta </div>
        <div class="panel-body" style="text-align:center">


            <label>Id de muestra</label>
            <input id="numero" name="numero" type="text" class="form-control" autofocus autocomplete="off" />
            <br />
            <button type="submit" class="aplicar-enroque-button btn btn-primary">Guardar</button>


           

        </div>


        @if (drm == null)
        {

        }
        else
        {
            <div class="table-responsive">
                <table id="muestras" class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">id</th>
                            <th class="text-center">Foto</th>
                            <th class="text-center">Proveedor</th>
                            <th class="text-center">Contacto</th>
                            <th class="text-center">Marca</th>
                            <th class="text-center">Estilo</th>
                            <th class="text-center">Color</th>
                            <th class="text-center">Acabado</th>
                            <th class="text-center">Nombre Material</th>
                            <th class="text-center">Materia lSuela</th>
                            <th class="text-center">Altura</th>
                            <th class="text-center">Tallas</th>
                            <th class="text-center">EM</th>
                            <th class="text-center">Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow muestras in drm.Rows)
                        {



                            byte[] Imagen = (byte[])muestras.ItemArray[1];
                            string cf = Convert.ToString(muestras.ItemArray[14]);
                            string valor = Convert.ToBase64String(Imagen);
                            var img = "data:image/" + "jpg;png;base64," + valor;
                            <tr>
                                <td class="text-center vert-align">@muestras["id"]</td>
                                <td class="text-center vert-align"><img src="@img" class="zoom" width="80" height="80" /></td>
                                <td class="text-center vert-align">@muestras["NombreProveedor"]</td>
                                <td class="text-center vert-align">@muestras["Contacto"]</td>
                                <td class="text-center vert-align">@muestras["MarcaAgrupa"]</td>
                                <td class="text-center vert-align">@muestras["Estilo"]</td>
                                <td class="text-center vert-align">@muestras["Color"]</td>
                                <td class="text-center vert-align">@muestras["Acabado"]</td>
                                <td class="text-center vert-align">@muestras["NombreMaterial"]</td>
                                <td class="text-center vert-align">@muestras["MaterialSuela"]</td>
                                <td class="text-center vert-align">@muestras["Tallas"]</td>
                                <td class="text-center vert-align">@muestras["Altura"]</td>
                                <td class="text-center vert-align">@muestras["EM"]</td>
                                <td class="text-center vert-align">$@muestras["Costo"]</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
    </div>
}
    <!-- Modal -->


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/assets/vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js")
        @Scripts.Render("~/Scripts/bootstrap-formhelpers-phone.en_US.js")
        @Scripts.Render("~/Scripts/bootstrap-formhelpers-phone.js")

    }
