@{
    ViewBag.Title = "Gestion de Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Gestion de Proveedores</h2>
<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Listado de Proveedores</i></p>

<div class="clearfix">
    <a href="@Url.Action("Registrar", "NazanGestionProveedores")" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Registrar Proveedor</a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Proveedores Registrados</div>
    <div class="panel-body">
        <table id="cuentas" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Responsable</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Estatus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedor in (ViewBag.proveedores))
                {
                    <tr>
                        <td class="text-center vert-align">@proveedor.codigo_proveedor</td>
                        <td class="text-center vert-align">@proveedor.nombre_proveedor</td>
                        <td class="text-center vert-align">@proveedor.usuario.nombre &nbsp @proveedor.usuario.apellido</td>
                        <td class="text-center vert-align">

                            @if (ViewBag.proveedorServicio.id != @proveedor.tipo_proveedor_id)
                            {
                                <span>MERCADERÍA</span>
                            }
                            else
                            {
                                <span>SERVICIO</span>

                            }
                        </td>
                        <td class="text-center vert-align">
                            @if (@proveedor.activo != null)
                            {
                                if (@proveedor.activo)
                                {
                                    <span>ACTIVO</span>
                                }
                            }

                        </td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#cuentas').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]]
            });
        });


    </script>
}


