@using Ppgz.Repository
@using Ppgz.Web.Areas.Mercaderia
@{
    ViewBag.Title = "Registrar Cita";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ordenCompra = (ordencompra)ViewBag.OrdenCompra;

    var currentCita = (CurrentCita)ViewBag.CurrentCita;
    ViewBag.TotalPedido = ordenCompra.ordencompradetalles.AsEnumerable().Sum(x => float.Parse(x.CantidadPedido));
    ViewBag.TotalComprometido = ordenCompra.ordencompradetalles.AsEnumerable().Sum(x => x.CantidadComprometida);

    ViewBag.ordenTmp = "";
}
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>
<h2>@ViewBag.Title</h2>
<p class="page-description-title">
    <i class="fa fa-calendar" aria-hidden="true"></i> <i>Paso 3 - Notificación anticipada de entrega</i>
</p>

<div class="panel panel-default">
    <div class="panel-heading">Datos de la cita</div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-3 control-label">RFC</label>
            <div class="col-sm-3">
                <div>@currentCita.Proveedor.Rfc</div>
            </div>
            <label class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-3">
                <div>@currentCita.Proveedor.Nombre1</div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 control-label">Fecha de la cita</label>
            <div class="col-sm-3">
                <div>@currentCita.Fecha.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="col-sm-6">
                <div class="btn-group btn-group-justified hidden-sm hidden-xs" role="group" aria-label="Opciones Cita">
                    <a class="btn btn-primary" href="@Url.Action("ListaDeOrdenes", "ControlCitas")">
                        <i class="fa fa-check-square" aria-hidden="true"></i> Confirmar Cita
                    </a>
                    <a class="btn btn-success" href="@Url.Action("BuscarOrden", "ControlCitas", new {proveedorId = currentCita.Proveedor.Id})">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nueva Orden
                    </a>
                    <a class="btn btn-default" href="@Url.Action("Index", "ControlCitas")">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar Cita
                    </a>
                </div>
                <div class="visible-sm visible-xs">
                    <a class="btn btn-primary btn-block" href="@Url.Action("ListaDeOrdenes", "ControlCitas")">
                        <i class="fa fa-check-square" aria-hidden="true"></i> Confirmar Cita
                    </a>
                    <a class="btn btn-success btn-block" href="@Url.Action("BuscarOrden", "ControlCitas", new { proveedorId = currentCita.Proveedor.Id })">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nueva Orden
                    </a>
                    <a class="btn btn-default btn-block" href="@Url.Action("Index", "ControlCitas")">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar Cita
                    </a>
                </div>
            </div>
        </div>




    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Datos del Asn</div>
    <div class="panel-body">
        <div class="row">
            <div style="line-height: 2em;" class="col-sm-4">
                <strong>Orden #</strong>
                
                <span>@ordenCompra.NumeroDocumento</span>
                
            </div>
            <div style="line-height: 2em;" class="col-sm-4">
                <strong>Total. Pedido</strong>
                <span id="idProductosEnOrden" style="font-size: 1.5em; color: #22aaaa;">@ViewBag.TotalPedido</span>
                
            </div>
            <div style="line-height: 2em;" class="col-sm-4">
                <strong>Total a Entregar</strong>
                <span id="total-entregar" style="font-size: 1.5em; color: green;">0</span>
                
            </div>
        </div>
        <hr style="margin-top: 5px; margin-bottom: 5px;" />
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="input-group" style="padding: 0; margin-bottom: 5px; background: aliceblue;">
                    <div style="padding: 6px; font-weight: bold; font-size: 1.2em;" class="text-right">
                        Planilla Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </div>
                    <div class="input-group-btn">
                        <a class="btn btn-link" href="@Url.Action("DescargarPlantilla", "ControlCitas", new {@numeroDocumento = ordenCompra.NumeroDocumento})">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> Descargar
                        </a>
                    </div>

                    <div class="input-group-btn">
                        <form method="POST" action="@Url.Action("CargarDesdePlantilla", "ControlCitas")" enctype="multipart/form-data">
                            <label class="btn btn-link btn-file pull-right">
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                Cargar <input type="file" name="cargar-planilla" hidden>
                            </label>
                            @Html.Hidden("numeroDocumento", ordenCompra.NumeroDocumento)
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-condensed" id="asn">
            <thead>
                <tr>

                    <th class="text-center">Material</th>
                    <th class="text-center">Centro</th>
                    <th class="text-center">Almacen</th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Cant. Entregar</th>
                    <th class="text-center">Cant. Pedido</th>

                </tr>
            </thead>
            <tbody>


                @foreach (var detalle in ordenCompra.ordencompradetalles)
                {

                    var cantComp = Decimal.ToInt32(detalle.CantidadComprometida);
                    var cantPed = Convert.ToInt32(decimal.Parse(detalle.CantidadPedido.ToString()));
                    var color = "#000";
                    if (cantComp < cantPed)
                    {
                        color = "red";
                    }

                    <tr>

                        <td class="text-center"> @detalle.NumeroMaterial</td>
                        <td class="text-center"> @detalle.Centro</td>
                        <td class="text-center"> @detalle.Almacen</td>
                        <td class="text-center"> @detalle.DescripcionMaterial</td>
                        <td class="text-center" style="font-weight: bold; cursor: pointer; color: @color;">@cantComp</td>
                        <td class="text-center" style="font-weight: bold; cursor: pointer"> @cantPed </td>

                    </tr>

                }



            </tbody>
        </table>

    </div>
</div>
<div class="modal fade" id="modalEditarCantidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar Cantidad <span class="codigo"></span></h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Material</label>
                            <div class="col-xs-8">
                                <label class="control-label" id="editar-material"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Descripcion</label>
                            <div class="col-xs-8">
                                <label class="control-label" id="editar-descripcion"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Cantidad</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control numeric" id="editar-cantidad" placeholder="Cantidad">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
                                <button type="button" onclick="cancelar();" class="btn btn-primary" data-dismiss="modal">Cancelarr</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hidCancelarActualizar" value="0" />
@Html.Hidden("RedirectTo1", Url.Action("BuscarOrden", "ControlCitas", new { @proveedorId = ViewBag.ProveedorId }))
@Html.Hidden("RedirectTo2", Url.Action("ListaDeOrdenes", "ControlCitas"))

@Scripts.Render("~/Scripts/jquery-1.10.2.js");

@section Scripts {

    <script type="text/javascript">

        $(".numeric").numeric();

        $("input[name='cargar-planilla']").change(function () { this.form.submit(); });

        var editingCell;
        var editingTd;


        $(document).ready(function () {

            var valOrdenesCargadas = '@Request.RequestContext.HttpContext.Session["ordenesCargadas"]';

            for (i = 0; i <= valOrdenesCargadas; i++) {

                var nombre = "ordenTemp" + i;
                console.log("Valor de Session: ordenTemp [" + i + "]: ");

            }


            var asn = $('#asn').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]]
            });


            $('#asn tbody').on('click', 'td:nth-child(5)', function () {
                $("#editar-material").text($($(this.parentNode).find('td')[0]).text());
                $("#editar-descripcion").text($($(this.parentNode).find('td')[3]).text());
                $("#editar-cantidad").val($($(this.parentNode).find('td')[4]).text());
                $("#modalEditarCantidad").modal('show');
                editingCell = asn.cell(this);
                editingTd = this;
                $("#hidCancelarActualizar").val("0");
            });


            $('#modalEditarCantidad').on('hidden.bs.modal', function (e) {

                if ($("#hidCancelarActualizar").val() == "0") {

                    var cantidadOrg = parseFloat($($(editingTd).parent().find('td')[5]).text());

                    var cantidadNueva = parseInt($("#editar-cantidad").val());
                    var vlItem = $($(editingTd).parent().find('td')[0]).text();
                    var vlNumOrden = "@ordenCompra.NumeroDocumento";

                    if (isNaN(cantidadNueva)) {
                        //todo mejorar
                        //alert("cantidad incorrecta");
                        msgError("cantidad incorrecta");
                        return;
                    }
                    if (cantidadNueva > cantidadOrg) {
                        //todo mejorar
                        //alert("cantidad incorrecta");
                        msgError("cantidad incorrecta");

                        return;
                    }

                    if (cantidadNueva <= cantidadOrg) {
                        editingCell.data(cantidadNueva).draw();
                        $(editingTd).css("color", "red");
                        // $($(editingTd.parentNode).find('td')[5]).html('<i class="fa fa-1x fa-exclamation-triangle" aria-hidden="true"></i>  Solicitado: ' + cantidadOrg);
                        // $($(editingTd.parentNode).find('td')[5]).css("color", "#fe7000");
                        calcularTotalEntregar();

                        var requestData = {
                            Orden: vlNumOrden.trim(),
                            Item: vlItem.trim(),
                            OldValue: cantidadOrg,
                            NewValue: cantidadNueva
                        };

                        $.ajax({
                            url: '/ControlCitas/updItemOrden',
                            type: 'POST',
                            data: JSON.stringify(requestData),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            error: function (xhr) {
                                alert('Error: ' + xhr.statusText);
                            },
                            success: function (result) {
                                console.log(result);
                            },
                            async: true,
                            processData: false
                        });

                    }
                }
            });

            calcularTotalEntregar();


        });

        function calcularTotalEntregar() {
            var totalEntregar = 0;
            $($(asn).DataTable().column(4).data()).each(function () {
                totalEntregar = totalEntregar + parseFloat(this);
            });
            $("#total-entregar").text(totalEntregar);

        }

        function validarSiguiente() {

            var origen = "@ViewBag.origen";
            //**************************************************************************
            // Si origen vale 1 = La Orden se esta cargando en la Lista por primera vez
            // Si origen vale 2 = Venimos de la Pantalla Lista de Ordenes (Posible Edicion)
            //**************************************************************************

            if (origen == "1") {

                var box = bootbox.dialog({
                    title: "<i class=" + String.fromCharCode(34) + "fa fa-times-circle fa-2x" + String.fromCharCode(34) + "></i>&nbsp;Grupo Nazan - Mensajes",
                    message: "Desea agregar otra Orden a la Lista ?",
                    buttons: {
                        success: {
                            label: "Si",
                            className: "msgbtn-info",
                            callback: function () {


                                var url = $("#RedirectTo1").val();
                                location.href = url;


                            }
                        },
                        main: {
                            label: "No",
                            className: "msgbtn-info active",
                            callback: function () {


                                var url = $("#RedirectTo2").val();
                                location.href = url;

                            }
                        }
                    }
                });


                box.find('.modal-header').addClass("msgInfo-title"); // Aqui cambio el color del Header
                box.find('.modal-content').addClass("msgDanger"); // Aqui Cambio el Color del formulario
                box.show();

            } else if (origen == "2") {

                var url = $("#RedirectTo2").val();
                location.href = url;

            }


        }


        function cancelar() {

            $("#hidCancelarActualizar").val("1");
            $("#modalEditarCantidad").modal('hidden.bs.modal');

        }


    </script>
}
