@using Ppgz.Repository
@using Ppgz.Web.Areas.Mercaderia
@model Ppgz.Web.Areas.Mercaderia.Models.PefilProveedorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var proveedor = (proveedore)ViewBag.proveedor;
    
    var currentCita = (CurrentCita)ViewBag.CurrentCita;

    var  tieneOrdenes = false;
    
    if (currentCita != null)
    {
        if (currentCita.HasOrdenes())
        {
            tieneOrdenes = true;
        }
    }

    
    
}
@Styles.Render("~/assets/vendor/bootstrap-chosen/bootstrap-chosen.css")
<h2>Registrar Cita</h2>
<p class="page-description-title">
    <i class="fa fa-info" aria-hidden="true"></i> <i>Aquí podra Registrar la Cita buscando por número de Orden de Compra</i>
</p>
<div class="panel panel-default">
    <div class="panel-heading">Buscar Orden de Compra</div>
    <div class="panel-body">

        @using (Html.BeginForm("BuscarOrden", "ControlCitas", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)

            <div class="form-group">
                <label class="col-sm-3 control-label"> Datos del Proveedor</label>
                <div class="col-sm-7">
                    <span class="form-control">@(String.Format("{0} - {1}", proveedor.NumeroProveedor, proveedor.Nombre1))</span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label"> Numero de Documento</label>
                <div class="col-sm-7">
                    <input type="hidden" name="proveedorId" value="@proveedor.Id" />
                    
                    <input type="text" class="form-control" name="numeroDocumento" placeholder="Numero de Orden de Compra"/>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                    @if (tieneOrdenes)
                    {
                           <a class="btn btn-default" href="@Url.Action("ListaDeOrdenes", "ControlCitas")"><i class="fa fa-list" aria-hidden="true"></i> Lista de Ordenes</a>
 
                    }
                    <a class="btn btn-default" href="@Url.Action("Index", "ControlCitas")"><i class="fa fa-undo" aria-hidden="true"></i> Cambiar Proveedor</a>
                </div>
            </div>

        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/vendor/chosen_v1.6.2/chosen.jquery.min.js")
    <script>

    </script>
}