@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Gestión de Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Random generator = new Random();

}

<h2 class="form-signin-heading">Gestión de Pagos</h2>
<p class="page-description-title"><i class="fa fa-calculator" aria-hidden="true"></i> <i>En esta sección podrá gestionar los pagos que tiene con el Grupo Nazan.</i><strong>@HttpContext.Current.Session["razonsocial"] </strong>   <a href="@Url.Action("Index", "CuentasPagar")">Cambiar</a></p>

<div class="panel panel-default">
    <div class="col-sm-6">
        <b>RFC</b>: @ViewBag.proveedor.Rfc<br />
        <b>Nombre</b>: @ViewBag.proveedor.Nombre1<br />
        <b>Población</b>: @ViewBag.proveedor.Poblacion<br /><br />
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Descargar", "CuentasPagar", new {@id = ViewBag.proveedor.Id})" class="btn btn-primary pull-right"><i class="fa fa-download" aria-hidden="true"></i> Descargar</a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-heading">Detalle de Pagos</div>
    <div class="panel-body">
        <div class="col-md-12">
            <table id="detallePago" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Referencia</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Ml</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Tipo de Movimiento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registro in (ViewBag.data))
                    {
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-center">Material @generator.Next(0, 1000000).ToString("D6")</td>
                            <td class="text-center">@registro.Importe</td>
                            <td class="text-center">@registro.Ml</td>
                            <td class="text-center">@registro.FechaBase</td>
                            <td class="text-center">@registro.TipoMovimiento (Factura a Proveedor)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <b>Total Pagado: </b> @ViewBag.importeTotal
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#detallePago').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]]
            });
        });
    </script>
}


