@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Mensajes Institucionales</h2>
<p class="page-description-title"><i class="fa fa-envelope" aria-hidden="true"></i> <i>Muestra la lista de los mensajes</i></p>

<div class="clearfix">
    <a href="@Url.Action("Crear", "AdministrarMensajesInstitucionales")" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Crear Mensaje</a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Mensajes Registrados</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered" id="mensajes">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Publicación</th>
                    <th class="text-center">Caducidad</th>
                    <th class="text-center">Título</th>
                    <th class="text-center">Mensaje</th>
                    <th class="text-center">PDF</th>
                    <th class="text-center">Enviado A</th>
                    <th></th>
            </thead>
            <tbody>

                @foreach (var mensaje in (ViewBag.mensajes))
                {
                    <tr>
                        <td class="text-center vert-align">@mensaje.Id</td>
                        <td class="text-center vert-align">@mensaje.FechaPublicacion.ToString("dd/MM/yyyy")</td>
                        <td class="text-center vert-align">@mensaje.FechaCaducidad.ToString("dd/MM/yyyy")</td>
                        <td class="text-center vert-align">@mensaje.Titulo</td>
                        <td class="text-center vert-align">@mensaje.Contenido</td>
                        <td class="text-center vert-align">
                            @if (mensaje.Archivo != null)
                            {
                                <a href="@Url.Content(@mensaje.Archivo)" target="_blank">descargar</a>
                            }
                        </td>
                        <td class="text-center vert-align">@mensaje.EnviadoA</td>
                        <td class="text-center">

                            <div class="btn-group-vertical">
                                <a class="btn btn-warning btn-xs" href="@Url.Action("Editar", "AdministrarMensajesInstitucionales", new { @id = @mensaje.Id })">

                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </a>
                                <a class="btn btn-danger btn-xs" href="@Url.Action("Eliminar", "AdministrarMensajesInstitucionales", new { @id = @mensaje.Id })" data-toggle="confirmation" data-popout="true" data-btn-ok-label="Si" data-title="¿Está seguro?" data-content="El mensaje será eliminado.">
                                    <i class="fa fa-times" aria-hidden="true"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                }



            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#mensajes').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });


    </script>
}