@using Ppgz.Repository
@{
    ViewBag.Title = "Cambio de Fecha de la Cita";
    ViewBag.Descripcion = "Puede modificar las fechas de citas futuras";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cita = (cita)ViewBag.Cita;

    var fechaCita = (DateTime)ViewBag.Fecha;

    var horarioRieles = (List<horarioriele>)ViewBag.HorarioRieles;

    var horarios = horarioRieles.Select(hr => new
    {
        hr.horario
    }).Distinct().ToList().OrderBy(h => h.horario.Id);

    var andenes = horarioRieles.Select(hr => new
    {
        hr.riele.andene
    }).Distinct().ToList().OrderBy(a => a.andene.Codigo);


    var rielesNecesarios = cita.RielesOcupados;

}
<link href="~/assets/vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
<style>
    #tb-3 .btn {
        font-size: .9em;
    }

    #tb-3 .border-bottom {
        border-bottom: solid 1px #f1f1f1;
    }

   /* .btn-primary.hover, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
        background-color: #66aaaa;
        border-color: #ccc;
        background-image: none;
    }

    .btn-primary.active, .btn-primary.hover, .btn-primary:hover, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
        background-color: #66aaaa;
        border-color: #ccc;
        background-image: none;
    }*/
</style>

<h2>@ViewBag.Title</h2>
<p class="page-description-title">
    <i class="fa fa-calculator" aria-hidden="true"></i> <i>@ViewBag.Descripcion</i>
</p>

<div class="panel panel-default">
    <div class="panel-heading">Datos de la cita</div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label">Proveedor</label>
            <div class="col-sm-6">
                <div>@cita.proveedore.Rfc - @cita.proveedore.Nombre1 @cita.proveedore.Nombre2 @cita.proveedore.Nombre3 @cita.proveedore.Nombre4</div>
            </div>

            <label class="col-sm-2 control-label">Almacén</label>
            <div class="col-sm-2">
                <div>@cita.Almacen</div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">Fecha Original</label>
            <div class="col-sm-6">
                <div>@cita.FechaCita.ToString("dd/MM/yyyy")</div>
            </div>
            <label class="col-sm-2 control-label">Total a Entregar</label>
            <div class="col-sm-2">
                <h4 style="margin: 0;">@cita.CantidadTotal</h4>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">Nueva Fecha</label>
            <div class="col-sm-4">
                <div class="text-danger"><strong>@fechaCita.ToString("dd/MM/yyyy")</strong></div>
            </div>
            <div class="col-sm-6">
     
                <div class="btn-group btn-group-justified hidden-sm hidden-xs" role="group" aria-label="Opciones Cita">
                    <a class="btn btn-primary btn-cambiar-fecha" href="#">
                        <i class="fa fa-check-square" aria-hidden="true"></i> Procesar cambio de Fecha
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Index", "AdministrarCitas")">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar Cambio de Fecha
                    </a>
                </div>
                <div class="visible-sm visible-xs">

                    <a class="btn btn-primary btn-block btn-cambiar-fecha" href="#">
                        <i class="fa fa-check-square" aria-hidden="true"></i> Procesar cambio de Fecha
                    </a>

                    <a class="btn btn-default btn-block" href="@Url.Action("Index", "AdministrarCitas")">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar Cambio de Fecha
                    </a>
                </div>
                
            </div>
        </div>



    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">Rieles Disponibles</div>
    <div class="panel-body">

        <p>
            <i>
                Debe entergar <strong>@cita.CantidadTotal</strong> pares, por lo que debe seleccionar
                <strong>@rielesNecesarios</strong> rieles.
            </i>
        </p>



        <table class="" width="100%" id="tb-3" style="">
            <thead>
                <tr>
                    <th class="text-center">
                        <h2>Horario</h2>
                    </th>
                    @foreach (var result in andenes)
                    {
                        var anden = result.andene;

                        var borderRight = "";
                        if (int.Parse(anden.Anden) < andenes.Count())
                        {
                            borderRight = "solid 1px #666";
                        }
                        <th class="text-center" colspan="2" style="border-right: @borderRight">
                            <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                            ANDEN @anden.Anden
                            <div class="row">
                                @foreach (var riel in anden.rieles)
                                {
                                    <div class="col-xs-6">Riel @riel.Riel</div>

                                }
                            </div>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var result in horarios)
                {
                    <tr class="border-bottom">

                        @{
                    var horario = result.horario;
                    var rieles = horarioRieles.Where(hr => hr.HorarioId == horario.Id);

                    var rielPostition = 0;
                        }

                        <td class="text-center vert-align">@horario.HoraDesde - @horario.HoraHasta</td>

                        @foreach (var riel in rieles)
                        {
                            rielPostition++;

                            var borderRight = "";
                            if (rielPostition < rieles.Count())
                            {
                                borderRight = "solid 1px #666";
                            }

                            var disabledChecked = "";
                            var dataOn = "MI RESERVA";
                            const string offStyle = "primary";
                            var onStyle = "success";
                            var disponibleClass = "riel-disponible";

                            if (!riel.Disponibilidad)
                            {
                                disabledChecked = "disabled checked";
                                dataOn = "OCUPADO";
                                onStyle = "danger";
                                disponibleClass = "";
                            }

                            <td class="text-center" style="border-right: @borderRight">
                                <input id="@riel.Id" class="@disponibleClass" type="checkbox" @disabledChecked data-toggle="toggle" data-on="@dataOn" data-off="DISPONIBLE" data-onstyle="@onStyle" data-height="40" data-width="100px" data-offstyle="@offStyle">

                            </td>

                        }

                        @*<td class="text-center" style="border-right: solid 1px #666">
                                <input type="checkbox" data-toggle="toggle" data-on="MI RESERVA" data-off="DISPONIBLE" data-onstyle="success" data-height="40" data-width="100px" data-offstyle="primary"></td>
                            <td class="text-center" style="border-right: solid 1px #666">
                                <input type="checkbox" data-toggle="toggle" data-on="MI RESERVA" data-off="DISPONIBLE" data-onstyle="success" data-height="40" data-width="100px" data-offstyle="primary"></td>
                            <td class="text-center" style="border-right: solid 1px #666">
                                <input type="checkbox" data-toggle="toggle" data-on="MI RESERVA" data-off="DISPONIBLE" data-onstyle="success" data-height="40" data-width="100px" data-offstyle="primary"></td>
                            <td class="text-center" style="border-right: solid 1px #666">
                                <input type="checkbox" data-toggle="toggle" data-on="MI RESERVA" data-off="DISPONIBLE" data-onstyle="success" data-height="40" data-width="100px" data-offstyle="primary"></td>
                            <td class="text-center" style="border-right: solid 1px #666">
                                <input type="checkbox" data-toggle="toggle" data-on="MI RESERVA" data-off="DISPONIBLE" data-onstyle="success" data-height="40" data-width="100px" data-offstyle="primary"></td>
                            <td class="text-center">
                                <input type="checkbox" data-toggle="toggle" data-on="MI RESERVA" data-off="DISPONIBLE" data-onstyle="success" data-height="40" data-width="100px" data-offstyle="primary"></td>*@
                    </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("CambiarFecha", "AdministrarCitas", new { }, FormMethod.Post, new { id = "form-cambiar-fecha" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="fecha" value="@fechaCita.ToString("dd/MM/yyyy")"/>
            <input type="hidden" name="citaId" value="@cita.Id"/>

        }


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/assets/vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js")

    <script type="text/javascript">
        var rielesNecesarios = parseInt("@rielesNecesarios");
        var rielesSeleccionados = [];

        $(function () {
            $('.btn-cambiar-fecha').click(function () {

                // TODO MEJORAR
                if (rielesSeleccionados.length === rielesNecesarios) {

                    for (var i = 0; i < rielesNecesarios; i++) {
                        $('<input>').attr({
                            type: 'hidden',
                            name: 'horarioRielesIds',
                            value: rielesSeleccionados[i]
                        }).appendTo('#form-cambiar-fecha');
                    }

                    $("#form-cambiar-fecha").submit();
                }


            });


            $('.riel-disponible').change(function () {

                var horarioRielId = $(this).attr("id");

                if ($(this).prop('checked') === true) {
                    if (rielesSeleccionados.indexOf(horarioRielId) === -1) {
                        rielesSeleccionados.push(horarioRielId);
                    }

                    $(this).addClass("usado");
                } else {
                    rielesSeleccionados.splice(rielesSeleccionados.indexOf(horarioRielId), 1);
                    $(this).removeClass("usado");
                }

                if (rielesSeleccionados.length === rielesNecesarios) {
                    $('.riel-disponible:not(.usado)').bootstrapToggle('disable');
                } else {

                    $('.riel-disponible:not(.usado)').bootstrapToggle('enable');
                }

            });
        });


    </script>
}
