@using Ppgz.Repository
@{
    ViewBag.Title = "Administración de Citas - Disponibilidad de Rieles por Fecha";
    ViewBag.Descripcion = "Puede Bloquear o Liberar los Rieles que no esten reservados por una Cita.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

    var horarioRieles = (List<horarioriele>)ViewBag.HorarioRieles;

    var horarios = horarioRieles.Select(hr => new
    {
        hr.horario
    }).Distinct().ToList().OrderBy(h => h.horario.Id);

    var andenes = horarioRieles.Select(hr => new
    {
        hr.riele.andene
    }).Distinct().ToList().OrderBy(a => a.andene.Codigo);




}
<link href="~/assets/vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
<style>
    #tb-3 .btn {
        font-size: .9em;
    }

    #tb-3 .border-bottom {
        border-bottom: solid 1px #f1f1f1;
    }

    .btn-primary.hover, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
        background-color: #66aaaa;
        border-color: #ccc;
        background-image: none;
    }

    .btn-primary.active, .btn-primary.hover, .btn-primary:hover, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
        background-color: #66aaaa;
        border-color: #ccc;
        background-image: none;
    }
</style>

<h2>@ViewBag.Title</h2>
<p class="page-description-title">
    <i class="fa fa-calculator" aria-hidden="true"></i> <i>@ViewBag.Descripcion</i>
</p>


<div class="panel panel-default">
    <div class="panel-heading">Seleccione la Fecha</div>
    <div class="panel-body">

        @using (Html.BeginForm("DisponibilidadRieles", "AdministrarCitas", new { ViewBag.ReturnUrl }, FormMethod.Get, new { @id = "form-fecha", @class = "form-horizontal", role = "form" }))
        {

            @Html.ValidationSummary(true)

            <div class="">
                <label class="col-sm-2 control-label"> Fecha</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="fecha" id="fecha" placeholder="Fecha" />
                </div>

                <div class="col-sm-2">
                    <a class="btn btn-default pull-right" href="@Url.Action("Index", "AdministrarCitas")"> <i class="fa fa-undo" aria-hidden="true"></i> Regresar</a>

                </div>
            </div>

        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Rieles por Anden</div>
    <div class="panel-body">




        <table class="" width="100%" id="tb-3" style="">
            <thead>
            <tr>
                <th class="text-center">
                    <h2>Horario</h2>
                </th>
                @foreach (var result in andenes)
                {
                    var anden = result.andene;

                    var borderRight = "";
                    if (int.Parse(anden.Anden) < andenes.Count())
                    {
                        borderRight = "solid 1px #666";
                    }
                    <th class="text-center" colspan="2" style="border-right: @borderRight">
                        <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                        ANDEN @anden.Anden
                        <div class="row">
                            @foreach (var riel in anden.rieles)
                            {
                                <div class="col-xs-6">Riel @riel.Riel</div>

                            }
                        </div>
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var result in horarios)
            {
                <tr class="border-bottom">

                    @{
                        var horario = result.horario;
                        var rieles = horarioRieles.Where(hr => hr.HorarioId == horario.Id);

                        var rielPostition = 0;
                    }

                    <td class="text-center vert-align">@horario.HoraDesde - @horario.HoraHasta</td>

                    @foreach (var riel in rieles)
                    {
                        rielPostition++;

                        var borderRight = "";
                        if (rielPostition < rieles.Count())
                        {
                            borderRight = "solid 1px #666";
                        }

                        var disabledChecked = "";
                        var check = "";
                        var dataOff = "DISPONIBLE";
                        var dataOn = "BLOQUEADO";
                        var offStyle = "primary";
                        var onStyle = "danger";



                        if (riel.CitaId != null)
                        {
                            disabledChecked = "disabled";
                            dataOn = "OCUPADO";
                            dataOff = "OCUPADO";
                            onStyle = "success";
                            offStyle = "success";
                        }
                        else
                        {
                            if (!riel.Disponibilidad)
                            {
                                check = "checked";
                            }
                        }

                        <td class="text-center" style="border-right: @borderRight">
                            <input id="@riel.Id" class="horarioriel" @check type="checkbox" @disabledChecked data-toggle="toggle" data-on="@dataOn" data-off="@dataOff" data-onstyle="@onStyle" data-height="40" data-width="100px" data-offstyle="@offStyle">

                        </td>

                    }
                </tr>
            }
            </tbody>
        </table>
        @using (Html.BeginForm("DisponibilidadRieles", "AdministrarCitas", new {}, FormMethod.Post, new {id = "form-disponibilidad"}))
        {
            @Html.AntiForgeryToken()
            
            <input type="hidden" id="bloqueo-horariorielid" name="horarioRielId">
            <input type="hidden" id="bloqueo-disponible" name="disponible">

        }


    </div>
</div>



<div class="modal fade" id="modalComentario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Comentario del Bloqueo</h4>
            </div>
            <div class="modal-body">
                <div>

                    <label>Debe ingresar un comentario para bloquear el Riel</label>
                    <textarea class="form-control"></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" onclick="javascript: GuardarBloqueo();">Guardar</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/assets/vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js")

    <script type="text/javascript">

        $(function () {
            $('#fecha').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                defaultDate: '@ViewBag.Fecha'
            });

            $("#fecha").on("dp.change", function () {
                $("#form-fecha").submit();
            });


            $('.horarioriel').change(function () {

                var horarioRielId = $(this).attr("id");

                $("#bloqueo-horariorielid").val(horarioRielId);

              /*  $('<input>').attr({
                    type: 'hidden',
                    name: 'horarioRielId',
                    value: horarioRielId
                }).appendTo('#form-disponibilidad');
                */
                if ($(this).prop('checked') === false) {


                    $("#bloqueo-disponible").val("true");

                    $("#form-disponibilidad").submit();

                    $('.horarioriel').bootstrapToggle('disable');

                    /*$('<input>').attr({
                        type: 'hidden',
                        name: 'disponible',
                        value: "false"
                    }).appendTo('#form-disponibilidad');*/

                } else {

                    $("#bloqueo-disponible").val("false");
                    $("#modalComentario").modal("show");
                    /*$('<input>').attr({
                        type: 'hidden',
                        name: 'disponible',
                        value: "true"
                    }).appendTo('#form-disponibilidad');*/
                }

                //

            });

        });



        function GuardarBloqueo() {

            var comentario = $($("#modalComentario textarea")[0]).val();

            if (comentario.length < 3) {

                msgError("Por favor ingrese un comentario válido");
                return;
            }

            $('<input>').attr({
                type: 'hidden',
                name: 'comentario',
                value: comentario
            }).appendTo('#form-disponibilidad');


            $("#form-disponibilidad").submit();
        }
       
    </script>
}
