@using System.Globalization
@using Microsoft.AspNet.Identity
@using Ppgz.Repository
@{
    ViewBag.Title = "Reportes Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var proveedor = (proveedore)ViewBag.Proveedor;
}

<h2>Reportes Proveedores - Grupo Nazan</h2>
<p class="page-description-title">
    <i class="fa fa-info" aria-hidden="true"></i>
    <i>En esta sección podrán gestionar los reportes que tiene con el Grupo Nazan. </i>
</p>
<div class="panel panel-default">
    <div class="panel-heading">Proveedor Seleccionado</div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label">RFC</label>
            <div class="col-sm-3">
                <div>@proveedor.Rfc</div>
            </div>
            <label class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-3">
                <div>@proveedor.Nombre1</div>
            </div>
            <div class="col-sm-2">
                <a href="@Url.Action("Index", "CuentasPagar")" class="btn btn-warning btn-xs"> <i class="fa fa-refresh" aria-hidden="true"></i>  Cambiar</a>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    
    @if (ViewBag.nivelservicio != null)
    {
        <div class="panel-heading">Nivel de servicio</div>
        <div class="col-sm-4">
            Ultimo Mes : <strong>@ViewBag.nivelservicio.UltimoMes %</strong><br/>
            Temporada Actual: <strong>@ViewBag.nivelservicio.TemporadaActual %</strong><br/>
            Temporada Anual : <strong>@ViewBag.nivelservicio.AcumuladoAnual %</strong><br/>
        </div>
        <div class="col-sm-5">
            Pedido Atrasado : <strong>@ViewBag.nivelservicio.PedidoAtrasado</strong><br/>
            Pedido en Tiempo: <strong>@ViewBag.nivelservicio.PedidoEnTiempo</strong><br/>
            Pedido Total: <strong>@ViewBag.nivelservicio.PedidoTotal</strong><br/>
        </div>
        <hr/>
    }

    <div class="col-sm-12">
        <a href="@Url.Action("Descargar", "ReporteProveedores", new {@numeroProveedor = ViewBag.proveedor.NumeroProveedor})" style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Descargar</a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-heading">Reporte</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="reporteDetalle" class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="text-center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspId_Proveedor&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                    <th class="text-center">Nombre_Proveedor</th>
                    <th class="text-center">Material</th>
                    <th class="text-center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Nombre_Material&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                    <th class="text-center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFecha_Proceso&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                    <th class="text-center">Unidad de Medida</th>
                    <th class="text-center">Ventas Actual - 2 meses</th>
                    <th class="text-center">Ventas Actual - 1 meses</th>
                    <th class="text-center">Ventas Actual</th>
                    <th class="text-center">Total Ventas</th>
                    <th class="text-center">Cálculo Total</th>
                    <th class="text-center">Inventario TDA</th>
                    <th class="text-center">Inventario Tránsito</th>
                    <th class="text-center">Inventario CEDIS</th>
                    <th class="text-center">Pedidos Pendientes(TDA + CEDIS)</th>
                    <th class="text-center">Estatus Material</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var reporte in (ViewBag.reportes))
                {
                    <tr>
                        <td class="text-center">@reporte.NumeroProveedor</td>
                        <td class="text-center">@reporte.NombreProveedor</td>
                        <td class="text-center">@reporte.Material</td>
                        <td class="text-center">@reporte.NombreMaterial</td>
                        <td class="text-center">@reporte.FechaProceso.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@reporte.UnidadMedida</td>
                        <td class="text-center">@reporte.CantidadVentas2</td>
                        <td class="text-center">@reporte.CantidadVentas1</td>
                        <td class="text-center">@reporte.CantidadVentas</td>
                        <td class="text-center">@reporte.CantidadTotal</td>
                        <td class="text-center">@reporte.CalculoTotal</td>
                        <td class="text-center">@reporte.InvTienda</td>
                        <td class="text-center">@reporte.InvTransito</td>
                        <td class="text-center">@reporte.InvCedis</td>
                        <td class="text-center">@reporte.PedidosPendiente</td>
                        <td class="text-center">@reporte.EstadoMaterial</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {


            $('#reporteDetalle').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });


    </script>
}


