@{
    ViewBag.Title = "Cuentas por Pagar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Cuentas por Pagar</h2>
<p class="page-description-title"><i class="fa fa-calculator" aria-hidden="true"></i> <i>Seleccione una Razón Social.</i></p>

<div class="panel panel-default">
    <div class="panel-heading">Razones Sociales</div>
    <div class="panel-body">
        <div class="col-md-12">
            <table id="cuentasXpagar" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Número Proveedor</th>
                        <th class="text-center">RFC</th>
                        <th class="text-center">Razón Social</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var proveedor in (ViewBag.proveedores))
                    {
                        <tr>
                            <td class="text-center">@proveedor.NumeroProveedor</td>
                            <td class="text-center">@proveedor.Rfc</td>
                            <td class="text-center vert-align">@proveedor.Nombre1 @proveedor.Nombre2 @proveedor.Nombre3 @proveedor.Nombre4</td>
                            <td class="text-center">
                                @*<a id="btnProveedor" data-idproveedor="@proveedor.Id" href="#"><i class="fa fa-check" aria-hidden="true"></i> Ver Detalle</a>*@

                                <a class="btn btn-primary btn-sm" href="@Url.Action("SeleccionarProveedor", "CuentasPagar", new { @proveedorId = @proveedor.Id })">
                                    <i class="fa fa-check" aria-hidden="true"></i> Seleccionar
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">



        $(document).ready(function () {

            $("#navbar > ul > li.dropdown.active > ul").hide();

            $('#cuentasXpagar').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });


    </script>
}


