@using System.Data
@using Ppgz.Repository
@{
    ViewBag.Title = "Gestión de Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagosPendientes = (DataTable)ViewBag.PagosPendientes;
    var proveedor = (proveedore)ViewBag.Proveedor;
    var importeTotal = pagosPendientes.Rows.Cast<DataRow>()
        .Aggregate<DataRow, decimal>(0, (current, pagoPendiente) => current + decimal.Parse(pagoPendiente["DMBTR"].ToString()));
}

<h2>Gestión de Pagos Pendientes</h2>
<p class="page-description-title"><i class="fa fa-calculator" aria-hidden="true"></i>
    <i>En esta sección podrán gestionar los pagos pendientes</i>
</p>

<div class="panel panel-default">
    <div class="panel-heading">Proveedor Seleccionado</div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label">RFC</label>
            <div class="col-sm-3">
                <div>@proveedor.Rfc</div>
            </div>
            <label class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-3">
                <div>@proveedor.Nombre1</div>
            </div>
            <div class="col-sm-2">
                <a href="@Url.Action("Index", "CuentasPagar")" class="btn btn-warning btn-xs"> <i class="fa fa-refresh" aria-hidden="true"></i>  Cambiar</a>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Pagos Pendientes</div>
    <div class="panel-body">
        <div class="col-md-12">
            <table id="" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Proveedor RFC</th>
                        <th class="text-center">Proveedor Razón Social</th>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Detalle</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-center">@DateTime.Today.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@proveedor.Rfc</td>
                        <td class="text-center">@proveedor.Nombre1</td>
                        <td class="text-right">@string.Format("{0:N}", importeTotal)</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-xs" href="@Url.Action("PagosPendientesDetalle", "CuentasPagar", new { proveedorId = ViewBag.proveedor.Id })">Detalle</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pagosPendiente').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
        });
    </script>
}


