@using System.Data.Entity.Core.Mapping
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Editar cuenta de Proveedor</h2>
    <p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Información de la cuenta</i>
    </p>

    <div class="col-sm-6">

        <div class="row">
            <div class="col-sm-3"><strong>Codigo</strong>
            </div>
            <div class=" col-sm-9" style="line-height: 1.2em"><span style="color: #66aaaa; font-size: 1.2em">@ViewBag.cuenta.CodigoProveedor</span></div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>Resp. Nombre</strong>
            </div>
            <div class=" col-sm-9">@ViewBag.cuenta.NombreProveedor</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>Contacto</strong>
            </div>
            <div class=" col-sm-9">


                <p>
                    @(ViewBag.cuenta.aspnetuser.Nombre + ' ' + ViewBag.cuenta.aspnetuser.Apellido)<i>
                        <br>
                        @ViewBag.cuenta.aspnetuser.PhoneNumber
                    </i><br>
                    @ViewBag.cuenta.aspnetuser.Email
                </p>
            </div>
        </div>


    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-3"><strong>Estatus</strong>
            </div>
            <div class=" col-sm-9">
                <p>
                    @if (ViewBag.cuenta.aspnetuser.Activo)
                    {
                        <span>ACTIVO</span>
                    }
                    else
                    {
                        <span>SUSPENDIDO</span>
                    }
                </p>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <select class="form-control" id="usuariosMaestrosSelect">
                    <option value="">Usuario Maestro</option>
                    @foreach (var usuario in ViewBag.cuenta.aspnetusers)
                    {
                        <option value="@usuario.Id">@(usuario.Nombre + ' ' + usuario.Apellido)</option>

                    }

                </select>
            </div>
            <div class="col-md-6"><a id="cambiarMaestro" class="btn btn-danger center-block">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Modificar
</a>
            </div>

        </div>
        <p>
            

            
        </p>
    </div>
</div>
<div class="clearfix"></div>

<div class="panel panel-default">
    <div class="panel-heading">Numeros de Proveedor SAP asociados a la cuenta</div>
    <div class="panel-body">

        <table class="table table-striped table-condensed table-bordered" style="font-size: .8em;">
            <thead>
                <tr>
                    <th colspan="10">
                        <div class="col-sm-3">
                            <input type="text" name="numero-proveedor" id="numero-proveedor" class="form-control" />
                        </div>
                        <div class="col-sm-7">
                            <a id="buscar" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Incluir Nuevo</a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="text-center vert-align">Numero</th>
                    <th class="text-center vert-align">Nombre</th>
                    <th class="text-center vert-align">Ciudad</th>
                    <th class="text-center vert-align">Distrito</th>
                    <th class="text-center vert-align">Vendedor</th>
                    <th class="text-center vert-align">VendedorTelefono</th>
                    <th class="text-center vert-align">Comprador Impuls</th>
                    <th class="text-center vert-align">Comprador Impuls Tel.</th>
                    <th class="text-center vert-align">Comprador Impuls Email</th>
                    <th>
                    </th>

                </tr>
            </thead>
            <tbody>
            @foreach (var proveedor in ViewBag.cuenta.cuentaproveedores)
            {
                <tr>
                    <td>@proveedor.NumeroProveedor</td>
                    <td>@proveedor.Nombre</td>
                    <td>@proveedor.Ciudad</td>
                    <td>@proveedor.Distrito</td>
                    <td>@proveedor.VendedorNombre</td>
                    <td>@proveedor.VendedorTelefono</td> 
                    <td>@proveedor.CompradorImpulsNombre</td>
                    <td>@proveedor.CompradorImpulsTelefono</td>
                    <td>@proveedor.CompradorImpulsEmail</td>
                    <td>
                        
                        <div class="btn-group-vertical hidden-xs">
                            <a class="btn btn-warning btn-xs" href="@Url.Action("Editar", "AdministrarProveedores", new { @id = @proveedor.CuentaId })">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                            </a>
                            <a class="btn btn-danger btn-xs" href="@Url.Action("Eliminar", "AdministrarProveedores", new { @id = @proveedor.CuentaId })" data-toggle="confirmation" data-btn-ok-label="Si" data-title="¿Esta seguro?" data-content="El usuario será eliminado.">
                                <i class="fa fa-times" aria-hidden="true"></i> Eliminar
                            </a>
                        </div>
                        <div class="btn-group-vertical visible-xs">
                            <a class="btn btn-warning btn-xs" href="@Url.Action("Editar", "AdministrarProveedores", new { @id = @proveedor.CuentaId })">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                            </a>
                            <a class="btn btn-danger btn-xs" href="@Url.Action("Eliminar", "AdministrarProveedores", new { @id = @proveedor.CuentaId })" data-toggle="confirmation" data-btn-ok-label="Si" data-title="¿Esta seguro?" data-content="El usuario será eliminado.">
                                <i class="fa fa-times" aria-hidden="true"></i> Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
                
            }


            </tbody>
        </table>



    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="buscarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><strong>Datos del Proveedor</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="mensaje-titulo"></span></h4>
            </div>
            <div class="modal-body">
                <div style="height: 400px; overflow: auto;">
                    <label>Numero</label>
                    <p id="modalBuscarNumero"></p>
                    <label>Nombre</label>
                    <p id="modalBuscarNombre"></p>
                    <label>Ciudad</label>
                    <p id="modalBuscarCiudad"></p>
                    <label>Distrito</label>
                    <p id="modalBuscarDistrito"></p>
                    <label>Vendedor Nombre</label>
                    <p id="modalBuscarVendedorNombre"></p>
                    <label>Vendero Teléfono</label>
                    <p id="modalBuscarVendedorTelefono"></p>
                    <label>Comprador Impulse Nombre</label>
                    <p id="modalBuscarCompradorImpulsNombre"></p>
                    <label>Comprador Impulse Telefono</label>
                    <p id="modalBuscarCompradorImpulseTelefono"></p>
                    <label>Comprador Impuls Email</label>
                    <p id="modalBuscarCompradorImpulseEmail"></p>
                </div>

            </div>
            <div class="modal-footer">
                <a id="asociar-proveedor" class="btn btn-primary btn-lg">Asociar</a>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="buscarModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Error de busquueda del Proveedor</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="mensaje-titulo"></span></h4>
            </div>
            <div class="modal-body">
                <p id="buscarModalError-content"></p>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var urlModUsuarioMaestro = "@Url.Action("ModificarUsuarioMaestro", "AdministrarProveedores")";
        var cuentaId = "@ViewBag.cuenta.Id";

        function modificarUsuarioMaestro(id, usuarioId ) {
            var link = urlModUsuarioMaestro + "/" +id + "?usuarioId=" + usuarioId;

            location.href = link;

        }


        $("#cambiarMaestro").click(function () {
            var usuariosMaestrosSelect = $("#usuariosMaestrosSelect");

            if (usuariosMaestrosSelect.val() !== "") {
                modificarUsuarioMaestro(cuentaId, usuariosMaestrosSelect.val());
            }
        });

        $("#buscar").click(function () {

            if ($("#numero-proveedor").val() !== "") {
                buscarNumeroProveedor($("#numero-proveedor").val());
           }

        });
        
        var urlBuscarProveedor = "@Url.Action("BuscarProveedor", "AdministrarProveedores")";

        var urlAsociarProveedor =  "@Url.Action("AsociarProveedor", "AdministrarProveedores")";

        function buscarNumeroProveedor(numeroProveedor) {


            $("#modalBuscarNumero").text("");
            $("#modalBuscarNombre").text("");
            $("#modalBuscarCiudad").text("");
            $("#modalBuscarDistrito").text("");
            $("#modalBuscarVendedorNombre").text("");
            $("#modalBuscarVendedorTelefono").text("");
            $("#modalBuscarCompradorImpulsNombre").text("");
            $("#modalBuscarCompradorImpulseTelefono").text("");
            $("#modalBuscarCompradorImpulseEmail").text("");





            var data = {
                numeroProveedor: numeroProveedor
            };

            $.ajax({
                type: "POST",
                url: urlBuscarProveedor,
                data: data,
                cache: false
            }).done(function (result) {

                if (result.error) {
                   
                    $("#buscarModalError-content").text(result.error);
                    $('#buscarModalError').modal('show');
                    return;
                }

                $("#modalBuscarNumero").text(result.NumeroProveedor);
                $("#modalBuscarNombre").text(result.Nombre);
                $("#modalBuscarCiudad").text(result.Ciudad);
                $("#modalBuscarDistrito").text(result.Distrito);
                $("#modalBuscarVendedorNombre").text(result.VendedorNombre);
                $("#modalBuscarVendedorTelefono").text(result.VendedorTelefono);
                $("#modalBuscarCompradorImpulsNombre").text(result.CompradorImpulsNombre);
                $("#modalBuscarCompradorImpulseTelefono").text(result.CompradorImpulsTelefono);
                $("#modalBuscarCompradorImpulseEmail").text(result.CompradorImpulsEmail);


                $("#asociar-proveedor").attr("href", urlAsociarProveedor + "/" + cuentaId + "?numeroProveedor=" + numeroProveedor);
                

                $('#buscarModal').modal('show');


            }).fail(function (response) {
                $('#buscarModal').modal('show');
     
            });
        }

    </script>
}