@using Ppgz.Repository;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<facturasfactoraje> facturaslist = (ViewBag.Facturas);
    List<descuentofactoraje> descuentoslist = (ViewBag.Descuentos);
    var proveedor = ViewBag.Proveedor;
    var solicitud = (ViewBag.Solicitud);
}

<div class="container body-content">
    <h2>Editar solicitud</h2>
    <p class="page-description-title">
        <i class="fa fa-calculator" aria-hidden="true"></i>
        <i>En esta sección podrán editar la solicitud realizada.</i>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">Proveedor Seleccionado</div>
        <div class="panel-body">
            <div class="row">
                <label class="col-sm-1 control-label">RFC</label>
                <div class="col-sm-2">
                    <div>@proveedor.Rfc</div>
                </div>
                <label class="col-sm-1 control-label">Auxiliar</label>
                <div class="col-sm-2">
                    <div>@proveedor.NumeroProveedor</div>
                </div>
                <label class="col-sm-1 control-label">Nombre</label>
                <div class="col-sm-3">
                    <div>@proveedor.Nombre1</div>
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("Solicitudes", "ProntoPago")" class="btn btn-warning btn-xs">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Pagos seleccionados</div>
        <div class="panel-body">
            <div class="col-md-12">

                <div id="table-scroll">
                    <table id="pagos" class="table table-striped table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Numero Documento</th>
                                <th class="text-center">Fecha Base</th>
                                <th class="text-center">Monto</th>
                                <th class="text-center">Vencimiento</th>
                                <th class="text-center">Porcentaje</th>
                                <th class="text-center">Desc. P.P.</th>
                                <th class="text-center">
                                    <input type="checkbox" id="cbHeaderPagos" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in facturaslist)
                            {
                                double monto = Convert.ToDouble(item.Monto);
                                double diaspp = Convert.ToDouble(item.DiasPP);
                                double dp = 0;
                                dp = (monto) * (item.Porcentaje / 30) * diaspp;
                                <tr>
                                    <td class="text-center vert-align">@item.NumeroDocumento</td>
                                    <td class="text-center vert-align">@item.FechaSolicitud.ToString().Substring(0, 10)</td>
                                    <td class="text-center vert-align">@item.Monto</td>
                                    <td class="text-center vert-align">@item.FechaSolicitud.AddDays(item.DiasPP).ToString().Substring(0, 10)</td>
                                    <td class="text-center vert-align">@item.Porcentaje %</td>
                                    <td class="text-center vert-align">@dp</td>
                                    <td class="text-center vert-align">
                                        @if (item.FacturaEstatus == 1)
                                        {
                                            <input type="checkbox" class="cbPagos" value="@item.NumeroDocumento" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="cbPagos" value="@item.NumeroDocumento"/>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">Descuentos</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table id="descuentos" class="table table-striped table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Num Descuento</th>
                                    <th class="text-center">Monto</th>
                                    <th class="text-center">Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in descuentoslist)
                                {
                                    <tr>
                                        <td class="text-center vert-align">@d.NumeroDocumento</td>
                                        <td class="text-center vert-align">@d.Monto</td>
                                        <td class="text-center vert-align">@d.Descripcion</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                            <i class="fa " aria-hidden="true"></i> Ver
                        </button>
                    </div>
                </div>
                <div class="panel-heading" style="text-align: center">Usted tiene un prestamo por: $567,890</div>
            </div>
        </div>
        <div class="col-lg-5">
            <div id="TotalProntoPagoResult">
                @Html.Partial("_totalProntoPago")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" style="text-align: right">
            <div class="col-md-10 col-md-offset-2">


                <a href="1.html" class="btn btn-default">
                    Volver
                </a>

                <a href="1.html" class="btn btn-warning">
                    Guardar
                </a>

                <a href="1.html" class="btn btn-success">
                    Aprobar
                </a>

                <a href="1.html" class="btn btn-danger">
                    Rechazar
                </a>
            </div>
        </div>
    </div>
    <hr />
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle de descuentos</h4>
            </div>
            <div class="modal-body">
                <table id="descuentosModal" class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Num Descuento</th>
                            <th class="text-center">Monto</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center"><input type="checkbox" id="cbHeader" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in descuentoslist)
                        {
                            <tr>
                                <td class="text-center vert-align">@d.NumeroDocumento</td>
                                <td class="text-center vert-align">@d.Monto</td>
                                <td class="text-center vert-align">@d.Descripcion</td>
                                <td class="text-center vert-align">
                                    <input class="solready" type="checkbox" name="cb" value="@d.idDescuentosFactoraje" checked/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var tablef = $('#pagos').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });

            $('#descuentos').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });           

            var tableD = $('#descuentosModal').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });

            $('#cbHeader').click(function () {
                $('.solready').prop('checked', this.checked);
            });

            $('#cbHeaderPagos').click(function () {
                $('.cbPagos').prop('checked', this.checked);
            });

            //Evento para cachar todos los checked
			$('input[type=checkbox]').on('change', function () {
				var facturas = '';
                var facturaPost = {};
                var descuentos = '';
                var descuentosPost = {};
                //Obtenemos los marcados
                var rows = tablef.rows({ 'search': 'applied' }).nodes();
                var rowsD = tableD.rows({ 'search': 'applied' }).nodes();
                
				console.log($('input[type="checkbox"]:checked', rows));

				$('input[type="checkbox"]:checked', rows).each(function () {
					facturas = facturas + "," + $(this).val();
                });
                $('input[type="checkbox"]:checked', rowsD).each(function () {
                    descuentos = descuentos + "," + $(this).val();
                });


				//Vamos al servidor a hacer el calculo
				$("#btnEnviar").attr("href", "@Url.RouteUrl("Default", new { controller = "Nazan/ProntoPago", action = "GuardarSolicitud" })" + "?facturas=" + facturas + "&proveedorId=@proveedor.Id")
				$.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("Default", new { controller = "Nazan/ProntoPago", action = "ObtenerTotalFactoraje"})" + "?facturas=" + facturas + "&descuentos=" + descuentos + "&proveedorId=@proveedor.Id",
					//data: JSON.stringify({ 'facturas': facturaPost }),
					dataType: "html",
					success: function (data) {
						$('#TotalProntoPagoResult').html(data);
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						//DesbloquearForma('GiftCardFilter');
					}
			    });

			});            
        });        
    </script>
    <style>
        #table-scroll {
            height: 150px;
            overflow: auto;
            overflow-x: hidden;
        }
    </style>

}