
@using System.Data
@using System.Globalization
@using Ppgz.Repository
@{
	ViewBag.Title = "Listado de  solicitudes";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var proveedor = (proveedore)ViewBag.Proveedor;

	//var pagosPendientes = (DataTable)ViewBag.PagosPendientes;
	//var importeTotal = pagosPendientes.Rows.Cast<DataRow>()
	// .Aggregate<DataRow, decimal>(0, (current, pagoPendiente) => current + decimal.Parse(pagoPendiente["DMBTR"].ToString()));

}

<h2>@ViewBag.Title</h2>
<p class="page-description-title">
	<i class="fa fa-calculator" aria-hidden="true"></i>
	<i>En esta sección podrán gestionar los pagos pendientes</i>
</p>
<div class="container body-content">
	<h3>
		Listado de solicitudes</h3>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Proveedor Seleccionado</div>
					<div class="panel-body">
						<div class="row">
							<label class="col-sm-2 control-label">RFC</label>
							<div class="col-sm-3">
								<div>@proveedor.Rfc</div>
							</div>
							<label class="col-sm-2 control-label">Nombre</label>
							<div class="col-sm-3">
								<div>@proveedor.Nombre1</div>
							</div>
							<div class="col-sm-2">
								<a href="@Url.Action("Index", "ProntoPago")" class="btn btn-warning btn-xs"> <i class="fa fa-refresh" aria-hidden="true"></i>  Cambiar</a>
							</div>
						</div>

					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Facturas</div>
					<div class="panel-body">
						<div class="form-group">

							<div class="col-md-2">
								<a class="form-control btn btn-warning" href="@Url.Action("NuevaSolicitud", "ProntoPago", new { @proveedorId = @proveedor.Id })">
									Nueva Solicitud
								</a>
							</div>
						</div>

						
						<br />
						<br />
						<div class="col-md-12">
							<table id="facturas" class="table table-striped table-condensed table-bordered">
								<thead>
									<tr>
										<th class="text-center">Id Proveedor</th>
										<th class="text-center">Numero generado</th>
										<th class="text-center">Monto</th>
										<th class="text-center">Fecha</th>
										<th class="text-center">Estatus</th>
										<th class="text-center">Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@*<tr>
						<td class="text-center align-vert">918274</td>
						<td class="text-center align-vert">00110020</td>
						<td class="text-center align-vert">$45,000</td>
						<td class="text-center align-vert">12/12/2018</td>
						<td class="text-center align-vert">Aceptado</td>
						<td class="text-center align-vert">$123,123</td>
						<td class="text-center align-vert">
							<input type="button" class="btn btn-warning" value="Editar" />
							<input type="button" class="btn btn-primary" value="Cargar nota" />
						</td>
					</tr>*@
								</tbody>
							</table>
						</div>
					</div>
				</div>


			</div>
		</div>



</div>
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#facturas').DataTable({
				"language": {
					"url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
				},
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
			});
		});
	</script>
}
