@using Ppgz.Repository
@using System.Data
@{
    ViewBag.Title = "Generar  Etiquetas - Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var proveedor = (proveedore)ViewBag.Proveedor;
    var ordenes = ViewBag.Ordenes;
}

<h2>@ViewBag.Title</h2>
<p class="page-description-title">
    <i class="fa fa-ticket" aria-hidden="true"></i> <i>Generación del archivo de Etiquetas en formato csv.</i>
</p>


<div class="panel panel-default">
    <div class="panel-heading">Proveedor Seleccionado</div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label">RFC</label>
            <div class="col-sm-3">
                <div>@proveedor.Rfc</div>
            </div>
            <label class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-3">
                <div>@proveedor.Nombre1 @proveedor.Nombre2 @proveedor.Nombre3 @proveedor.Nombre4</div>
            </div>
            <div class="col-sm-2">
                <a href="@Url.Action("Index", "ImpresionEtiquetas")" class="btn btn-warning btn-xs"> <i class="fa fa-refresh" aria-hidden="true"></i> Cambiar</a>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Formulario para Generar el Archivo</div>
    <div class="panel-body">
        @using (Html.BeginForm("Generar", "ImpresionEtiquetas", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)

            <input type="hidden" name="proveedorId" value="@proveedor.Id" />

            <div class="form-group">
                
                <label class="col-sm-3 control-label">Tipo de Etiqueta</label>
                <div class="col-sm-7">
                    <div class="radio">
                        <label>
                            <input type="radio" name="nazan" id="nazanTipo" value="true" checked>
                            Nazan
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="nazan" id="precioTipo" value="false">
                            Etiqueta de Precios
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="nazan" id="zapatoTipo" value="false">
                            Etiqueta Colgante
                        </label>
                    </div>

                    

                </div>
            </div>
            <p class="form-legend" style="">
                <i></i>
            </p>
          
                    <table cellspacing="5" cellpadding="5" border="0">
                        <tbody>
                            <tr>
                                <td><label>Orden Inicial: <input class="form-control input-sm" id="min" name="min" type="text"></label> </td>
                                <td> <label>Orden Final: <input class="form-control input-sm" id="max" name="max" type="text"></label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-condensed" id="ordenesimprimir">
                        <thead>
                            <tr>
                                <th class="text-center">Ordenes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ordencompra ordendeCompra in ordenes)
                            {


                                <tr>
                                    <td class="text-center">@ordendeCompra.NumeroDocumento</td>

                                </tr>

                            }
                        </tbody>
                    </table>
               






                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="button" onclick="envio()" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Generar</button>
                            <a class="btn btn-default" href="@Url.Action("Index", "ImpresionEtiquetas")"><i class="fa fa-undo" aria-hidden="true"></i> Cancelar</a>
                        </div>
                    </div>
        }
    </div>

            </div>


<div class="modal" id="modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Debe seleccionar al menos una orden</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")

                <script type="text/javascript">

                    var form = $("#form");
                    var table;

                    $.fn.dataTable.ext.search.push(

                        function (settings, data, dataIndex) {
                            var min = parseInt($('#min').val(), 10);
                            var max = parseInt($('#max').val(), 10);
                            var Ordenes = parseFloat(data[0]) || 0; // use data for the age column

                            if ((isNaN(min) && isNaN(max)) ||
                                (isNaN(min) && Ordenes <= max) ||
                                (min <= Ordenes && isNaN(max)) ||
                                (min <= Ordenes && Ordenes <= max)) {
                                return true;
                            }
                            return false;
                        }
                    );

                    function envio() {
                        var ordenes = '';
                        var contador = 0;
                        table.rows({ selected: true }).data().each(function (d) {
                            ///console.log('loop: ' + JSON.stringify(d));
                            if (contador == 0) {
                                ordenes = d[0];
                                contador = 1;
                            } else {
                                ordenes = ordenes+ ',' + d[0];
                            }
                            
                        });

                        if (ordenes == '') {
                            ///alert('Debe seleccionar al menos una orden');
                            $('#modal').modal('show');
                        } else {
                            if ($("#nazanTipo").prop("checked")) {
                                $('<input />').attr('type', 'hidden')
                                    .attr('nazan', "ordenes")
                                    .attr('value', true)
                                    .appendTo(form);
                            }
                            if ($("#zapatoTipo").prop("checked")) {
                                var input = $("<input>").attr({ "type": "hidden", "name": "zapato" }).val(true);
                                $('#form').append(input);
                            } else {
                                var input = $("<input>").attr({ "type": "hidden", "name": "zapato" }).val(false);
                                $('#form').append(input);
                            }
                            var input = $("<input>").attr({ "type": "hidden", "name": "ordenesy" }).val(ordenes);
                            $('#form').append(input);
                            $('#form').submit();
                        }

                        

                       //alert('selecionado: ' + JSON.stringify(ordenes));
                        ///console.log('selecionado: ' + JSON.stringify(ordenes));
                       
                    }

                    $(document).ready(function () {

                        table = $('#ordenesimprimir').DataTable({
                            dom: 'Bfrtip',
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json",
                            },
                            select: {
                                style: 'multi'
                            },
                            buttons: [
                                'pageLength',
                                {
                                    text: 'Seleccionar Todo',
                                    action: function () {
                                        table.rows().select();
                                    }
                                },
                                {
                                    text: 'Deseleccionar Todo',
                                    action: function () {
                                        table.rows().deselect();
                                    }
                                },
                                {
                                    text: 'Ordenes por Rango',
                                    action: function () {
                                        table.rows({ search: 'applied' }).select();
                                    }
                                }
                            ],
                            
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
                        });
                        table.buttons(0, null).container().prependTo(
                            table.table().container()
                        );

                        $('#min, #max').keyup(function () {
                            table.draw();
                        });

                        
                        


                        //form.submit(function () {
                        //    alert('selecionado: ' + JSON.stringify(table.rows({ selected: true }).data()));
                        //    console.log('selecionado: ' + JSON.stringify(table.rows({ selected: true }).data()));
                           

                        //   if ($("#nazanTipo").prop("checked")) {
                        //        $('<input />').attr('type', 'hidden')
                        //            .attr('nazan', "ordenes")
                        //            .attr('value', true)
                        //            .appendTo(form);
                        //    }

                        //});


                    });



                </script>


            }
