@model Ppgz.Web.Models.MensajeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Mensajes Institucionales</h2>
<p class="page-description-title"><i class="fa fa-envelope" aria-hidden="true"></i> <i>Crear mensaje Institucional</i></p>


<div class="panel panel-default">
    <div class="panel-heading">Formulario del nuevo mensaje</div>
    <div class="panel-body">
        @using (Html.BeginForm("Crear", "NazanMensajesInstitucionales", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="col-sm-3 control-label">Tipo de Proveedor</label>
                <div class="col-sm-7">
                    <div class="radio">
                        <label>

                            @Html.RadioButtonFor(m => m.TipoProveedor, "MERCADERIA")
                            Mercadería
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                             @Html.RadioButtonFor(m => m.TipoProveedor, "SERVICIO") Servicio
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.TipoProveedor, "TODOS")
                            Todos
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.TipoProveedor)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FechaPublicacion, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.FechaPublicacion, new { @class = "form-control fecha-hora", @type = "datetime" })
                    @Html.ValidationMessageFor(m => m.FechaPublicacion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FechaCaducidad, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.FechaCaducidad, new { @class = "form-control  fecha-hora", @type = "datetime" })
                    @Html.ValidationMessageFor(m => m.FechaCaducidad)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Titulo, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Titulo)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mensaje</label>
                <div class="col-sm-7">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="text-pdf">
                            <li role="presentation" id="texto-mensaje" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mensaje Escrito</a></li>
                            <li role="presentation" id="pdf-mensaje"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Subir Archivo PDF</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <textarea class="form-control" rows="5" name="Contenido" placeholder="Contenido del mensaje"></textarea>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">

                                <input type="file" class="form-control" name="pdf">

                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">...</div>
                            <div role="tabpanel" class="tab-pane" id="settings">...</div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "NazanMensajesInstitucionales")"><i class="fa fa-undo" aria-hidden="true"></i> Cancelar</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $('.fecha-hora').datetimepicker({
            locale: 'es',

            format: 'DD/MM/YYYY',
            showClose: true,
            sideBySide: true,
            minDate: new Date()


        });


        $("#form").submit(function (eventObj) {
            if ($("ul#text-pdf li.active").attr("id") === "pdf-mensaje") {
                $('<input />').attr('type', 'hidden')
                    .attr('name', "pdf-mensaje")
                    .attr('value', "pdf-mensaje")
                    .appendTo('#form');

            }
            return true;
        });

    </script>

    @Scripts.Render("~/bundles/jqueryval")


}