@model Ppgz.Web.Models.MensajeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Mensajes Insitucionales</h2>
<p class="page-description-title"><i class="fa fa-envelope" aria-hidden="true"></i> <i>Crear mensaje Institucional</i></p>


<div class="panel panel-default">
    <div class="panel-heading">Formulario del nuevo mensaje</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Tipo de Proveedor</label>
                <div class="col-sm-7">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Mercadería
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Servicio
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                            Todos
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FechaPublicacion, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.FechaPublicacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FechaPublicacion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FechaCaducidad, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.FechaCaducidad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FechaCaducidad)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Titulo, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Titulo)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mensaje</label>
                <div class="col-sm-7">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mensaje Escrito</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Subir Archivo PDF</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <textarea class="form-control" rows="5" id="mensaje" placeholder="Contenido del mensaje"></textarea>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">

                                <input type="file" class="form-control" id="exampleInputFile">

                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">...</div>
                            <div role="tabpanel" class="tab-pane" id="settings">...</div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrar</button>
                    <button type="submit" class="btn btn-default"><i class="fa fa-undo" aria-hidden="true"></i> Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $('#fecha-hora').datetimepicker({
            locale: 'es',

            format: 'DD/MM/YYYY hh:mm A',
            showClose: true,
            sideBySide: true,
            minDate: new Date(),

            disabledDates: [
                moment("02/23/2017"),
                moment("02/24/2017"),
                moment("02/25/2017"),
            ],
            disabledTimeIntervals: [[moment({ h: 20 }), moment({ h: 24 })]]
        });


    </script>
}